<div class="footer">
  <div class="footer-text">
    <%= footertext %>
  </div>
  <div class="footer-pagination">
    Página <span class="page-number"></span> de <span class="page-total"></span>
  </div>
</div>
