body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', 'Playfair Display', serif;
  font-size: 4mm; }
  body .page {
    margin: 10px auto;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    position: relative;
    width: 21cm;
    height: 36.43cm;
    padding: 30mm 45mm 30mm 45mm;
    overflow: hidden; }
    body .page .figure.align-block {
      display: block;
      text-align: center; }
    body .page .figure.align-right {
      display: inline-block;
      float: right; }
    body .page .figure.align-left {
      display: inline-block;
      float: left; }
    body .page .figure img {
      max-height: 8cm; }
    body .page h1 {
      font-size: 6mm; }
    body .page h2 {
      font-size: 5mm; }
    body .page ul li {
      list-style-type: none; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -30mm;
  margin-right: -45mm;
  width: auto; }
  .header .header-logo img {
    max-height: 30mm; }
  .header .header-text {
    overflow: hidden; }

.footer {
  position: absolute;
  bottom: 0;
  height: 30mm;
  width: 21cm;
  display: flex;
  align-items: center;
  overflow: hidden; }

@media print {
  body .page {
    margin: 0;
    box-shadow: none; } }

.modal {
  background-color: white;
  position: fixed;
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 0.3);
  top: -10cm;
  left: 50%;
  transform: translateX(-50%); }
  .modal.print {
    padding: 10px 20px;
    border-radius: 3em;
    transition: top 0.3s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0; }
    .modal.print.visible {
      top: 10mm;
      opacity: 1; }
    .modal.print .modal-button {
      color: #01acff;
      text-decoration: none; }
